* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(/img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: 217px;
}
.content__slogan {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  padding-right: 531px;
}
.content__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  padding-top: 32px;
  padding-right: 718px;
}
.content__button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 44px;
  transition: 0.5s;
}
.content__button:hover {
  background: #EB443F;
  cursor: pointer;
}

.games {
  background: #000915;
}
.games__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-bottom: 128px;
  padding-top: 128px;
}
.games__item {
  list-style-type: none;
  height: 300px;
  width: 100%;
  display: flex;
  border: 3px solid transparent;
}
.games__item:hover {
  border: 3px solid #44D2FF;
  border-radius: 16px;
  cursor: pointer;
}
.games__link {
  display: flex;
  flex-grow: 1;
  text-decoration-line: none;
}

.catalog {
  background: #000915;
}

.game__box {
  flex-grow: 1;
  border-radius: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-left: 32px;
  padding-bottom: 32px;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
}
.game__block {
  padding-top: 233px;
  padding-bottom: 233px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  -moz-column-gap: 132px;
       column-gap: 132px;
}
.game__block--text {
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.game__block--bg {
  background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(/img/video_game_3.jpg), #000915;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game__name {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
.game__details {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  padding-top: 32px;
}
.game__button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 44px;
  transition: 0.5s;
  margin-top: 32px;
}
.game__button:hover {
  background: #EB443F;
  cursor: pointer;
}

.reverse {
  flex-direction: row-reverse;
}

.middle {
  align-items: center;
  text-align: center;
  padding-top: 233px;
  padding-bottom: 233px;
}

.game__box--1 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(/img/item_1.jpg);
}

.game__box--2 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(/img/item_2.jpg);
}

.game__box--3 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(/img/item_3.jpg);
}

.footer {
  font-family: "Montserrat";
  font-style: normal;
  background: #000915;
  border-top: 1px solid rgba(184, 212, 255, 0.2);
}
.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 32px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .content {
    font-family: "Montserrat";
    font-style: normal;
    color: #FFFFFF;
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .content__slogan {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding-right: 0;
    text-align: center;
  }
  .content__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding-right: 0;
    text-align: center;
  }
  .content__button {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
  }
  .games {
    background: #000915;
  }
  .games__list {
    display: flex;
    flex-direction: column;
  }
  .game__box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .catalog {
    background: #000915;
  }
  .game__block {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    padding-bottom: 59px;
  }
  .game__block--text {
    align-items: center;
  }
  .game__name {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .game__details {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .game__img {
    padding-top: 64px;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */